<section>
    <nav class="tag-cloud">
        <div *ngFor="let t of tagChips">
            <div *ngIf="!t.isDivider" class="tag" (click)="select(t)" [ngClass]="{'tag-selected': t.selected}" [hidden]="!matchesFilter(t.name)">{{t.name}} <span class="badge">{{t.count}}</span></div>
            <div *ngIf="t.isDivider" class="tag tag-divider" (click)="toggleFilter(t.name)" [hidden]="!matchesFilter(t.name)">{{t.name}}</div>
        </div>
    </nav>
</section>

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom" [hidden]="!organizeMode">   
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <button type="button" class="btn btn-default navbar-btn" (click)="addTag()">Add New</button>
            <button type="button" class="btn btn-default navbar-btn" (click)="deleteTags()" [disabled]="getSelectedChips().length === 0">Delete</button>
            <button type="button" class="btn btn-default navbar-btn" (click)="renameTag()" [disabled]="getSelectedChips().length !== 1">Rename</button>
            <button type="button" class="btn btn-default navbar-btn" (click)="copyTag()" [disabled]="getSelectedChips().length !== 1">Copy</button>
            <button type="button" class="btn btn-default navbar-btn" (click)="combineTags()" [disabled]="getSelectedChips().length <= 1">Combine</button>
            <button type="button" class="btn btn-default navbar-btn" (click)="clearSelections()" [disabled]="getSelectedChips().length === 0">Clear</button>
        </div>
    </div>
</nav>