<h2>Settings</h2>
<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="indexPath">Photos folder</label>
        <input type="text" formControlName="indexPath" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.indexPath.errors }" />
        <div *ngIf="submitted && f.indexPath.errors" class="invalid-feedback">
            <div *ngIf="f.indexPath.errors.required">Photos folder is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="cacheFolder">Photo index cache folder</label>
        <input type="text" formControlName="cacheFolder" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cacheFolder.errors }" />
        <div *ngIf="submitted && f.cacheFolder.errors" class="invalid-feedback">
            <div *ngIf="f.cacheFolder.errors.required">Photo index cache folder is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="mobileUploadsFolder">Mobile uploads folder</label>
        <input type="text" formControlName="mobileUploadsFolder" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileUploadsFolder.errors }" />
        <div *ngIf="submitted && f.mobileUploadsFolder.errors" class="invalid-feedback">
            <div *ngIf="f.mobileUploadsFolder.errors.required">Mobile uploads folder is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="nextIndexTime">Next index time</label>
        <input type="datetime-local" formControlName="nextIndexTime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nextIndexTime.errors }" />
        <div *ngIf="submitted && f.nextIndexTime.errors" class="invalid-feedback">
            <div *ngIf="f.nextIndexTime.errors.required">Next index time is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="indexFrequencyHours">Index frequency (hours)</label>
        <input type="number" formControlName="indexFrequencyHours" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.indexFrequencyHours.errors }" />
        <div *ngIf="submitted && f.indexFrequencyHours.errors" class="invalid-feedback">
            <div *ngIf="f.indexFrequencyHours.errors.required">Index frequency is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="thumbnailSize">Photo thumbnail size</label>
        <input type="number" formControlName="thumbnailSize" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.thumbnailSize.errors }" />
        <div *ngIf="submitted && f.thumbnailSize.errors" class="invalid-feedback">
            <div *ngIf="f.thumbnailSize.errors.required">Photo thumbnail size is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="smallImageSize">Photo small size</label>
        <input type="number" formControlName="smallImageSize" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smallImageSize.errors }" />
        <div *ngIf="submitted && f.smallImageSize.errors" class="invalid-feedback">
            <div *ngIf="f.smallImageSize.errors.required">Photo small size is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="largeImageSize">Photo large size</label>
        <input type="number" formControlName="largeImageSize" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.largeImageSize.errors }" />
        <div *ngIf="submitted && f.largeImageSize.errors" class="invalid-feedback">
            <div *ngIf="f.largeImageSize.errors.required">Photo large size is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button> 
        <button [disabled]="loading" class="btn btn-light">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Rebuild Photo Cache
        </button>
    </div>
</form>