<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{message}}</p>
            
    <section class="file-select">
        <input #fileInput type="file" value="Select image" />
    </section>

    <div class="row">
        <div class="col-6">
            <section class="design-area">
                <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="imageUrl"></angular-cropper>    
            </section>
        </div>    
        <div class="col-6">
            <section class="avatar-preview">
                <div id="avatarPreviewImage"></div>
                <label>Final Preview</label>
            </section>
        </div>    
    </div>
    <div class="row">
        <div class="col-6">
            <section class="toolbar">                
                <button type="button" class="btn btn-secondary btn-sm" (click)="zoom('in')"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="zoom('out')"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="rotate('ccw')"><i class="fa fa-undo"></i></button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="rotate('cw')"><i class="fa fa-repeat"></i></button>
            </section>
        </div>
    </div>
</div>
<div class="modal-footer">    
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">{{okText}}</button> 
    <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Cancel</button>
</div>
