<div class="modal-header">
    <h4 class="modal-title pull-left">Search</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="modal-body">
      <p><em>All fields are optional</em></p>
      <div class="form-group">
        <label for="keywordsInput">Search keywords</label>
        <input type="text" class="form-control" formControlName="keywords" id="keywordsInput">
      </div>
      <div class="form-group">
        <label for="usernameSelect">Photo owner</label>
        <select class="form-control form-select" aria-label="User select" formControlName="username" id="usernameSelect">
          <option value=""></option>
          <option *ngFor="let u of users" [ngValue]="u">{{u}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fromDateInput">Photo taken after</label>
        <input type="date" class="form-control" formControlName="fromDate" id="fromDateInput">
      </div>
      <div class="form-group">
        <label for="toDateInput">Photo taken before</label>
        <input type="date" class="form-control" formControlName="toDate" id="toDateInput">
      </div>      
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Search</button>
      <button type="submit" class="btn btn-secondary" (click)="clear()">Clear</button>
      <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Cancel</button>
    </div>
  </form>
  