<div class="modal-header">
  <h4 class="modal-title text-muted pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="userSettingsForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="modal-body">
    <div class="form-group">
      <label for="scopeSelect">Photo filter</label>
      <select class="form-control" formControlName="displayScope" id="scopeSelect">
        <option *ngFor="let s of userScopes" [ngValue]="s.value">{{s.text}}</option>        
      </select>
    </div>
    <div class="form-group">
      <label for="defaultViewSelect">Default tag</label>
      <select class="form-control" formControlName="defaultView" id="defaultViewSelect">
        <option value="">[Show latest photos, of all tags]</option>
        <option *ngFor="let tag of defaultTags" [ngValue]="tag">{{tag}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="thumbSizeSelect">Thumbnail size</label>
      <select class="form-control" formControlName="thumbnailSize" id="thumbSizeSelect">
        <option *ngFor="let size of thumbSizes" [ngValue]="size">{{size}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="slideSpeedSelect">Slideshow speed</label>
      <select class="form-control" formControlName="slideshowSpeed" id="slideSpeedSelect">
        <option *ngFor="let speed of slideSpeeds" [ngValue]="speed">{{speed}}</option>
      </select>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="autoStartSlideshow" id="startSlideshowAutoCheck">
        <label class="form-check-label" for="startSlideshowAutoCheck">Start slideshow automatically</label>
      </div>
    </div>   
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">OK</button>
    <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Cancel</button>
  </div>
</form>
