<div id="blueimp-gallery" class="blueimp-gallery" aria-label="image gallery" aria-modal="true" role="dialog">
    <div class="slides" aria-live="polite"></div>
    <h3 class="title"></h3>
    <a class="prev"
      aria-controls="blueimp-gallery"
      aria-label="previous slide"
      aria-keyshortcuts="ArrowLeft"></a>
    <a class="next"
      aria-controls="blueimp-gallery"
      aria-label="next slide"
      aria-keyshortcuts="ArrowRight"></a>
    <a class="close"
      aria-controls="blueimp-gallery"
      aria-label="close"
      aria-keyshortcuts="Escape"></a>
    <a class="play-pause"
      aria-controls="blueimp-gallery"
      aria-label="play slideshow"
      aria-keyshortcuts="Space"
      aria-pressed="false"
      role="button"></a>
    <ol class="indicator"></ol>
</div>

<section class="mainbar">

    <div class="row photo-list" id="photoList">
        <div *ngFor="let t of thumbnails" [ngClass]="{selected: t.selected}" (click)="select(t, $event)"
            [ngStyle]="{ background : 'url(' + t.thumbUrl + ')', height: t.thumbHeight + 'px', width : t.thumbWidth + 'px'}">
        </div>
    </div>
</section>

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom" [hidden]="!organizeMode">   
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#footerNavbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="footerNavbarCollapse">
        <div class="navbar-nav">
            <button type="button" class="btn btn-default navbar-btn" (click)="showTagTool()" [disabled]="getSelectedThumbnails().length === 0"><i class="fa fa-tag"></i> Tag Photos</button>
            <button type="button" class="btn btn-default navbar-btn" (click)="deletePhotos()" [disabled]="getSelectedThumbnails().length === 0"><i class="fa fa-remove"></i> Delete</button>
            <button type="button" class="btn btn-default navbar-btn" (click)="selectAll()"><i class="fa fa-arrows-alt"></i> Select All</button>
            <button type="button" class="btn btn-default navbar-btn" (click)="clearSelections()" [disabled]="getSelectedThumbnails().length === 0"><i class="fa fa-eraser"></i> Clear</button>            
        </div>
    </div>
</nav>