.photo-list {
    padding-top: 10px;
}
    .photo-list div {
        margin: 0 0 8px 8px;
        display: inline-block;
        
        background-position: center center !important;
        background-size: cover !important;
    }

        .photo-list div.selected {
            border: solid 4px yellow;
        }

#fullPhotoOverlay {    
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #444
}

#fullPhotoOverlay .close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 10px;
    z-index: 999999;
}

#fullPhotoOverlay .close-button i {
    color: #fff;
    font-size: 35px;
}