<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">    
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': f.username.errors }" />
            <div *ngIf="f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="currentPassword">Current password</label>
            <input type="currentPassword" formControlName="currentPassword" class="form-control" [ngClass]="{ 'is-invalid': f.currentPassword.errors }" />
            <div *ngIf="f.currentPassword.errors" class="invalid-feedback">
                <div *ngIf="f.currentPassword.errors.required">Password is required</div>
                <div *ngIf="f.currentPassword.errors.minlength">Password must be at least 8 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">New password</label>
            <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': f.newPassword.errors }" />
            <div *ngIf="f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">New password is required</div>
                <div *ngIf="f.newPassword.errors.minlength">New password must be at least 8 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label for="newPasswordCompare">Confirm new password</label>
            <input type="password" formControlName="newPasswordCompare" class="form-control" [ngClass]="{ 'is-invalid': f.newPasswordCompare.errors }" />
            <div *ngIf="f.newPasswordCompare.errors" class="invalid-feedback">
                <div *ngIf="f.newPasswordCompare.errors.required">Confirmation password is required</div>
                <div *ngIf="f.newPasswordCompare.errors.minlength">Confirmation password must be at least 8 characters</div>
            </div>
        </div>        
    </div>
    <div class="modal-footer">    
        <button type="submit" class="btn btn-primary">Change Password</button> 
        <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Close</button>
    </div>
</form>
