<h2 *ngIf="user.userId">{{user.firstName}} {{user.lastName}}</h2>
<h2 *ngIf="!user.userId">New User</h2>

<section class="summary-info">
    <p *ngIf="user.userId">Last login: {{user.lastLogin | date:'medium'}} | Failed login count: {{user.failedLoginCount}}</p>
</section>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="usernameInput">User id</label>
    <input type="text" formControlName="username" class="form-control" id="usernameInput" [readonly]="user.userId" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group" *ngIf="!user.userId">
    <label for="passwordInput">Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="passwordInput" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group" *ngIf="!user.userId">
    <label for="passwordCompareInput">Confirm password</label>
    <input type="password" formControlName="passwordCompare" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="passwordCompareInput" />
    <div *ngIf="submitted && f.passwordCompare.errors" class="invalid-feedback">
      <div *ngIf="f.passwordCompare.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="firstNameInput">First name</label>
    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" id="firstNameInput" />
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastNameInput">Last name</label>
    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" id="lastNameInput" />
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="roleSelect">Role</label>
    <select class="form-control" formControlName="role" id="roleSelect">
      <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
    </select>
  </div>
  <div class="form-check">
    <input type="checkbox" formControlName="enabled" class="form-check-input" id="enabledCheck">
    <label class="form-check-label" for="enabledCheck">Enabled</label>
  </div>
  <div class="form-check">
    <input type="checkbox" formControlName="mustChangePassword" class="form-check-input" id="mustChangePasswordCheck">
    <label class="form-check-label" for="mustChangePasswordCheck">Change password on next log-in</label>
  </div>

  <div class="return-link"><a href="#" [routerLink]="['/users']">Return to list</a></div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary" type="submit">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>

    <button [disabled]="loading || !user.userId" class="btn btn-primary" type="button" (click)="deleteUser()">
      Delete
    </button>

    <button [disabled]="loading || !user.userId" class="btn btn-secondary" type="button" (click)="resetPassword()">
      Reset Password
    </button>
  </div>
</form>
