<h2 class="text-muted">Exclusions</h2>

<p>Exclusion folder or file paths must all be locacted below the <em>photos folder</em> and <em>mobile uploads folder</em> paths established in <a href="settings">settings</a>.</p>

<section>    
    <table class="table table-lg listing">
        <thead>
            <tr>
                <th>Folder or File Path</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of exclusions">
                <td>{{e.fullPath}}<i class="fa fa-remove float-right" title="Delete path" (click)="deleteExclusion(e.fileExclusionId)"></i></td>
            </tr>
        </tbody>
    </table>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter a new path" [(ngModel)]="newPath">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" (click)="addExclusion()">Add</button>
        </div>
    </div>
</section>