<h2>Exclusions</h2>

<p>Exclusion folder or file paths must all be locoacted below the <em>photos folder</em> and <em>mobile uploads folder</em> paths established in <a href="settings">settings</a>.</p>

<section>    
    <table class="table table-lg listing">
        <thead>
            <tr>
                <th>Folder or File Path</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of folders">
                <td>{{f}}<i class="fa fa-remove float-right" title="Delete path"></i></td>
            </tr>
        </tbody>
    </table>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter a new path" [(ngModel)]="newPath">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" (click)="addExclusion()">Add</button>
        </div>
      </div>
</section>
<!-- 
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">   
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#footerNavbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="footerNavbarCollapse">
        <div class="navbar-nav">
            <button type="button" class="btn btn-default navbar-btn" (click)="addExclusion()"><i class="fa fa-plus"></i> New</button>
            <button type="button" class="btn btn-default navbar-btn" (click)="deleteExclusions()"><i class="fa fa-remove"></i> Delete</button>            
        </div>
    </div>
</nav> -->