<h2 class="text-muted">Activity</h2>

<nav class="filter-bar">
    <form class="form-inline float-right">
        <label class="my-1 mr-2" for="categorySelect">Category</label>
        <select class="custom-select my-1 mr-sm-2" name="categorySelect" [(ngModel)]="filters.category" (change)="filtersChanged($event)">
            <option value="">All</option>
            <option value="General">General</option>
            <option value="Index">Index</option>
            <option value="Security">Security</option>            
            <option value="Upload">Upload</option>
        </select>

        <label class="my-1 mr-2" for="severitySelect">Severity</label>
        <select class="custom-select my-1 mr-sm-2" name="severitySelect" [(ngModel)]="filters.severity" (change)="filtersChanged($event)">
            <option value="">All</option>
            <option value="Neutral">Neutral</option>
            <option value="Elevated">Elevated</option>
            <option value="High">High</option>
            <option value="Urgent">Urgent</option>
        </select>
    </form>
</nav>

<section>
    <table class="table table-md table-striped listing table-log">
        <thead>
            <tr class="text-muted">
                <th>Time</th>
                <th>Message</th>
                <th class="phone-hide">Category</th>
                <th class="phone-hide">Severity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of logEntries">
                <td>{{l.timestamp | date:'short'}}</td>
                <td>{{l.message}}</td>
                <td class="phone-hide">{{l.category}}</td>
                <td class="phone-hide">{{l.severity}}</td>
            </tr>
        </tbody>
    </table>

    <nav class="pager-bar">
        <form class="form-inline">
            <label class="my-1 mr-2" for="categorySelect">Page Size</label>
            <select class="custom-select my-1 mr-sm-2" name="pageSizeSelect" [(ngModel)]="pageInfo.pageSize" (change)="pageSizeChanged($event)">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>                
                <option value="35">35</option> 
                <option value="40">40</option> 
            </select>
    
            <div class="pager-log">
                <pagination [itemsPerPage]=pageInfo.pageSize [totalItems]="pageInfo.totalRecords" [rotate]="true" [maxSize]="5" [boundaryLinks]="true" (pageChanged)="pageChanged($event)"></pagination>
            </div>
        </form>
    </nav>
</section>