<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">Home Photos</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav" [hidden]="hideMenu">
          <a href="#" class="nav-item nav-link active" 
            [routerLinkActive]="['link-active']" 
            [routerLinkActiveOptions]="{ exact: true }" 
            [routerLink]="['/photos']">Photos</a>

          <a href="#" class="nav-item nav-link active" 
            [routerLinkActive]="['link-active']" 
            [routerLinkActiveOptions]="{ exact: true }" 
            [routerLink]="['/tags']">Tags</a>

          <a href="#" class="nav-item nav-link active" 
            [routerLinkActive]="['link-active']" 
            [routerLinkActiveOptions]="{ exact: true }" 
            [routerLink]="['/settings']">Settings</a>
          
          <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item" 
                  [routerLinkActive]="['link-active']" 
                  [routerLinkActiveOptions]="{ exact: true }" 
                  [routerLink]="['/settings']">Settings</a>
              </div>
          </div>
      </div>
      <app-search [hidden]="hideSearch"></app-search>
      <div class="navbar-nav" [hidden]="hideMenu">
        <a class="nav-link text-dark" (click)="logout()">Logout</a>
      </div>
    </div>    
  </nav>
</header>
