<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a href="#" class="navbar-brand">
      <img src="assets/images/logo-sm.png" width="38" height="30" class="d-inline-block align-top" alt="ePhotoBox"> 
      ePhotoBox
    </a>
    <button #navbarToggler type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" [hidden]="hideMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div #navbarMenu class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav" [hidden]="hideMenu" id="mainMenu">
          <a href="#" (click)="collapseNav()" class="nav-item nav-link" 
            [routerLinkActive]="['link-active']" 
            [routerLinkActiveOptions]="{ exact: true }" 
            [routerLink]="['']"><i class="fa fa-camera menu-icon"></i> Photos</a>

          <a href="#" (click)="collapseNav()" class="nav-item nav-link" 
            [routerLinkActive]="['link-active']" 
            [routerLinkActiveOptions]="{ exact: true }" 
            [routerLink]="['/tags']"><i class="fa fa-tag menu-icon"></i> Tags</a>

          <a href="#" (click)="collapseNav()" class="nav-item nav-link" [hidden]="hideUploadMenu" 
            [routerLinkActive]="['link-active']" 
            [routerLinkActiveOptions]="{ exact: true }" 
            [routerLink]="['/upload']"><i class="fa fa-upload menu-icon"></i> Upload</a>
          
          <div class="nav-item dropdown" [hidden]="hideMenuAdmin" id="adminMenu">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench menu-icon"></i> Admin</a>
              <div class="dropdown-menu">
                <a href="#" (click)="collapseNav()" class="dropdown-item" 
                  [routerLinkActive]="['link-active']" 
                  [routerLinkActiveOptions]="{ exact: true }" 
                  [routerLink]="['/settings']">Settings</a>              
                <a href="#" (click)="collapseNav()" class="dropdown-item" 
                  [routerLinkActive]="['link-active']" 
                  [routerLinkActiveOptions]="{ exact: true }" 
                  [routerLink]="['/users']">Users</a>              
                <a href="#" (click)="collapseNav()" class="dropdown-item" 
                  [routerLinkActive]="['link-active']" 
                  [routerLinkActiveOptions]="{ exact: true }" 
                  [routerLink]="['/logs']">Activity</a>                
              </div>
          </div>
      </div>      
      <app-search [hidden]="hideSearch"></app-search>

      <div class="navbar-nav nav-right" [hidden]="hideMenu" id="rightMenu">
        <label class="nav-item nav-check" [hidden]="hideOrganize" id="organizeSection">
          <app-organize></app-organize>
        </label>    
        <!-- <a (click)="logout()" class="nav-item nav-link options-item" type="button" title="Sign-out">
          <i class="fa fa-sign-out menu-icon menu-icon-right"></i> <span class="right-menu-text">Sign-out</span>
        </a> -->
        <a (click)="showAccountInfo()" class="nav-item nav-link options-item" type="button" title="{{'Account: ' + currentUser?.username}}">
          <i class="fa fa-user menu-icon menu-icon-right"></i> <span class="right-menu-text">Account: {{currentUser?.username}}</span>
        </a>
        <a (click)="showSettings()" class="nav-item nav-link options-item" type="button" title="Options">
          <i class="fa fa-gear menu-icon menu-icon-right"></i> <span class="right-menu-text">Options</span>
        </a>
      </div>
    </div>    
  </nav>
</header>
