<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="tag-tool form-inline" autocomplete="off">        
        <div class="form-group mb-2">            
            <input [(ngModel)]="selectedTag" [typeahead]="allTags" class="form-control" placeholder="New tag..." name="tagSearchTypeahead" id="tagSearchTypeahead">             
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <button type="button" class="btn btn-light" (click)="addTag()">Add</button>
        </div>
    </form>

    <nav class="tag-cloud">
        <div *ngFor="let t of tagStates">
            <div class="tag" (click)="removeTag(t)">{{t.tagName}} <span class="badge badge-pill badge-light">X</span></div>
        </div>
    </nav>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">OK</button>
</div>
