<h2 class="text-muted">Settings</h2>
<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="indexPath">Photos folder</label>
        <input type="text" formControlName="indexPath" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.indexPath.errors }" />
        <div *ngIf="submitted && f.indexPath.errors" class="invalid-feedback">
            <div *ngIf="f.indexPath.errors.required">Photos folder is required</div>
        </div>
    </div>   
    <div class="form-group">
        <label for="mobileUploadsFolder">Mobile uploads folder</label>
        <input type="text" formControlName="mobileUploadsFolder" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileUploadsFolder.errors }" />
        <div *ngIf="submitted && f.mobileUploadsFolder.errors" class="invalid-feedback">
            <div *ngIf="f.mobileUploadsFolder.errors.required">Mobile uploads folder is required</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="cacheFolder">Photo index cache folder</label>
            <input type="text" formControlName="cacheFolder" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cacheFolder.errors }" />
            <div *ngIf="submitted && f.cacheFolder.errors" class="invalid-feedback">
                <div *ngIf="f.cacheFolder.errors.required">Photo index cache folder is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="nextIndexTime_date">Next index date</label>
            <input type="date" formControlName="nextIndexTime_date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nextIndexTime_date.errors }" required/>
            <div *ngIf="submitted && f.nextIndexTime_date.errors" class="invalid-feedback">
                <div *ngIf="f.nextIndexTime_date.errors.required">Next index time is required</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="nextIndexTime_time">Next index time</label>
            <input type="time" formControlName="nextIndexTime_time" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nextIndexTime_time.errors }" required />
            <div *ngIf="submitted && f.nextIndexTime_time.errors" class="invalid-feedback">
                <div *ngIf="f.nextIndexTime_time.errors.required">Next index time is required</div>
            </div>
        </div>
        <div class="form-group col-md-4">   
            <label for="indexFrequencyHours">Index frequency (hours)</label>
            <input type="number" formControlName="indexFrequencyHours" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.indexFrequencyHours.errors }" />
            <div *ngIf="submitted && f.indexFrequencyHours.errors" class="invalid-feedback">
                <div *ngIf="f.indexFrequencyHours.errors.required">Index frequency is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="thumbnailSize">Photo thumbnail size</label>
            <input type="number" formControlName="thumbnailSize" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.thumbnailSize.errors }" />
            <div *ngIf="submitted && f.thumbnailSize.errors" class="invalid-feedback">
                <div *ngIf="f.thumbnailSize.errors.required">Photo thumbnail size is required</div>
            </div>
        </div>
        <div class="form-group col-md-4" >
            <label for="smallImageSize">Photo small size</label>
            <input type="number" formControlName="smallImageSize" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smallImageSize.errors }" />
            <div *ngIf="submitted && f.smallImageSize.errors" class="invalid-feedback">
                <div *ngIf="f.smallImageSize.errors.required">Photo small size is required</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="largeImageSize">Photo large size</label>
            <input type="number" formControlName="largeImageSize" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.largeImageSize.errors }" />
            <div *ngIf="submitted && f.largeImageSize.errors" class="invalid-feedback">
                <div *ngIf="f.largeImageSize.errors.required">Photo large size is required</div>
            </div>
        </div>        
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="photoDeleteAction">Photo delete action</label>
            <select class="form-control form-select" aria-label="Photo delete action" formControlName="photoDeleteAction">
                <option selected value="0">Delete database record and cache files</option>
                <option value="1">Delete original file, database record and cache files</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="mobilePhotoDeleteAction">Mobile upload photo delete action</label>
            <select class="form-control form-select" aria-label="Mobile upload photo delete action<" formControlName="mobilePhotoDeleteAction">
                <option value="0">Delete database record and cache files</option>
                <option selected value="1">Delete original file, database record and cache files</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="thumbnailSize">Shared photo tag color</label>
            <div>
                <ngx-colors ngx-colors-trigger style="display: inline-block; margin:5px;"
                    [formControl]="f.tagColor"
                    [hideTextInput]="true" 
                    [hideColorPicker]="true"
                    format="rgba"
                    colorPickerControls="no-alpha"></ngx-colors>
            </div>
        </div>
        <div class="form-group col-md-8">
            <label for="thumbnailSize">All users can:</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="userPhotoViewScope" value="0" [checked]="f.userPhotoViewScope.value == 0" id="viewAllScopeRadio">
                    <label class="form-check-label" for="viewAllScopeRadio">View everything</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="userPhotoViewScope" value="10" [checked]="f.userPhotoViewScope.value == 10" id="viewCharedPersonalScopeRadio">
                    <label class="form-check-label" for="viewCharedPersonalScopeRadio">View shared, personal only (Admins can override)</label>
                </div>
            </div>
        </div>
    </div>
    
    <hr />
    <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
    </button>     
    <button type="button" class="btn btn-secondary btn-index" (click)="promptForIndex()">                
        Index Now
    </button> 
    <button type="button" class="btn btn-secondary btn-index" (click)="promptForClear()">                
        Factory Reset
    </button> 
</form>

<div bsModal #indexModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-index-now">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-index-now" class="modal-title pull-left">Photo Index</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="cancelIndex()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Would you like to process <em>all</em> photo images, or only <em>new and changed</em> photo images?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="processAllRadio" name="indexType" value="ALL" [(ngModel)]="indexModalData.allOrNew" class="custom-control-input">
            <label class="custom-control-label" for="processAllRadio">All photo images</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="processNewRadio" name="indexType" value="NEW" [(ngModel)]="indexModalData.allOrNew" class="custom-control-input">
            <label class="custom-control-label" for="processNewRadio">New and changed photos</label>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="index()">OK</button>
            <button type="button" class="btn btn-secondary" (click)="cancelIndex()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
