<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
</div>
<div class="modal-body">
    <p *ngIf="message">{{message}}</p>
    
    <div class="form-group">
        <label for="input">{{label || 'Input'}}</label>
        <input type="text" id="input" class="form-control" [(ngModel)]="tagName">
    </div>
    <div class="form-check form-check-inline" *ngIf="showTagType">
        <input class="form-check-input" type="radio" id="sharedRadio" value="S" [(ngModel)]="tagType" [checked]="tagType == 'S'">
        <label class="form-check-label" for="sharedRadio">Shared tag</label>
    </div>
    <div class="form-check form-check-inline" *ngIf="showTagType">
        <input class="form-check-input" type="radio" id="personalRadio" value="P" [(ngModel)]="tagType" [checked]="tagType == 'P'">
        <label class="form-check-label" for="personalRadio">Personal tag</label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ok()">OK</button>
    <button type="button" class="btn btn-light" (click)="cancel()">Cancel</button>
</div>
