.tag-cloud {
    float: left;
    padding: 20px;
    width: 100%;
}

    .tag-cloud .tag {
        float: left;
        padding: 5px;
        margin: 0 8px 8px 0;
        border: solid 1px ;
        border-radius: 5px;
        cursor: pointer;
    }

    .tag-cloud .tag-selected {        
        font-weight: bold;
    }
     .tag-cloud .tag-divider {
        color: #666;
        font-size: medium;
        font-weight: bold;
        border: solid 1px #666;
        background-color: white;
        cursor: default;
    }
    .tag-cloud .tag-divider:hover {
        color: #fff;
        font-size: medium;
        font-weight: bold;
        border: solid 1px #666;
        background-color: #666;
        cursor: default;
    }

    .identity-check {
        margin-top: 7px;
        margin-left: 50px;
    }

    .identity-check span {
        margin-left: 10px;
        margin-right: 30px;
    }